---
- name: dotfiles | Symlink manjaro specific
  file:
    src: "{{ dotfiles_root }}/xprofile"
    path: "{{ dotfiles_user_home }}/.xprofile"
    state: link
    force: yes
  become: true
  become_user: "{{ dotfiles_user }}"

- name: Setup pinentry program
  file:
    src: "/usr/bin/pinentry-qt"
    path: "/usr/bin/pinentry"
    state: link
    force: yes
  become: true

- name: Enable pcscd.socket
  systemd:
    name: pcscd.socket
    enabled: true
  become: true

- name: Enable gpg sockets
  systemd:
    name: "{{ item }}"
    enabled: true
    user: true
  with_items:
    - gpg-agent-browser.socket
    - gpg-agent-extra.socket
    - gpg-agent.socket
    - gpg-aget-ssh.socket
